.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: -10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: -20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    left: -10%
    width: 180px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.banner-principal__img
  width: 400px
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263F
.boton *, .boton--sm *
  color: white
.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat 
.bg1
  background-image: url("../assets/curso/tema1/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.tc1
  color: #EF8B53
.tc01
  color: #944315
.bg2
  background-color: #FAC961
  background-size: cover
  margin-inline: -3.4rem
  padding: 20px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.tam
  width: 131px
.aqw
  background-color: white
  border-radius: 15px
.mtn
  margin-top: -130px
.bt2
  background-color: #E3F0E9
.bg3
  background-color: #583CB6
  background-size: cover
  margin-inline: -3.4rem
  padding: 20px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.bg4
  background-image: url("../assets/curso/tema2/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.tarjetas-up
  overflow: hidden
  border-radius: 10px
  position: relative
  &_card
    transition: bottom .3s ease-in-out
    position: absolute
    border-radius: 10px
    width: 100%
    height: 110%
    left: 0
    bottom: -90%
    i:last-child
      display: none
  &_card_2
    transition: bottom .3s ease-in-out
    position: absolute
    border-radius: 10px
    width: 100%
    height: 110%
    left: 0
    bottom: -90%
    i:last-child
      display: none
  &:hover
    .tarjetas-up_card
      bottom: -40%
    .tarjetas-up_card_2
      bottom: -10%
    i:first-child
      display: none
    i:last-child
      display: block  
.tarjetas-up:hover .tarjetas-up_card
  background-color: #FAD6C3
.tarjetas-up_card
  background-color: #FAD6C3
.bg5
  background-image: url("../assets/curso/tema2/bg2.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.cr
  background-color: #FAEBCD
.cg
  background-color: #DDD8F0
.bg6
  background-image: url("../assets/curso/tema2/bg3.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.bg7
  background-image: url("../assets/curso/tema2/bg4.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.colrw
  background-color: #F6F6F6
.tarjetas-up:hover .tarjetas-up_card_2
  background-color: #F1ECFF
.tarjetas-up_card_2
  background-color: #F1ECFF
.bg8
  background-image: url("../assets/curso/tema4/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.bacz
  background-color: #FDF5E5
  margin-left: 1px
  margin-right: 1px
.bacz2
  background-color: #F7E9E1
  margin-left: 1px
  margin-right: 1px
.bha
  background-color: #F0BD51
.bg9
  background-image: url("../assets/curso/tema4/bg2.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.bg10
  background-image: url("../assets/curso/tema4/bg3.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.bg11
  background-image: url("../assets/curso/tema5/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.blas
  background-color: white
  border-radius: 20px
.bg12
  background-image: url("../assets/curso/tema5/bg2.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.colorv
  background-color: #01AD2F
.colorv2
  background-color: #B3EEB0
.aqaa
  background-color: #E2D9FF
  margin-left: -12px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
.la
  background-color: #CDC5E9
.bazx
  background-color: #E2D9FF
  margin-left: 7px
.bg13
  background-image: url("../assets/curso/tema6/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.aqaa2
  background-color: #FAEBCD
  margin-left: -12px
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px